@charset "UTF-8";
/* 문서 전체에 걸쳐서 공통되고, 일관된 하나의 스타일 규칙을 설정 */

/* 1. 전체 선택자 | 공용 선택자 | Universal Selector */
* {
	margin: 0;
	padding: 0;
}

/* 2. 태그 선택자 */
/* 색상명, rgb(r,g,b), HEX(#00aaff) 사용 */
body { /* 일반 글자 : 제목 텍스트, 내용 텍스트, 목록 텍스트.. */
	color: black;	
}
a { /* 클릭하는 글자 : 하이퍼 텍스트에 영향 / a 모두를 변경 */
	color: inherit;   /* 부모요소로 부터 텍스트의 컬러를 받아들임 */
	text-decoration: none; /* 텍스트-꾸밈: 안함(=없음) */
}

