@charset "UTF-8";
/* 3. 클래스 선택자 */
.logo {
	text-align: center;   /* 텍스트-정렬: 가로 가운데 */
	margin: 0;	/* (바깥)여백: 값 */
	padding: 50px 0; /* (안)여백: 위,아래 10 좌우 0 여백 */
}
/* CSS의 규칙이 하나의 요소에 충돌했을때 우선 순위를 결정하는 방법 */
.nav {
	background-color: #005891;
	font-size: 14px;		/* 문자-크기: 14픽셀 */
	font-weight: bold;		/* 문자-두께: 두껍게 */
	padding: 10px 0;		/* (안)여백: 상하 10, 좌우 0 */

}
.nav ul {
	text-align: center;	
}
.nav li { /* ul.nav : 종속 선택자 , (공백) : 후손/자손 선택자 */
	display: inline; /* inline-block 차이를 알자! */
	margin: 0 10px; /* (바깥) 여백: 값 */
}
.nav a {
	color: white;
}
.nav a:hover {	/* hand over => hover */
	color: #fcff00;
}

.promotion {
	text-align: center;
	margin-top: 30px;
}

.official {
	width: 600px; 
	margin: 50px auto;
	font-size: 0;
}
.social {
	text-align: center;
	margin: 50px 0
}
/* 4. 아이디 선택자 */

/* 5. 그룹 선택자 */
.official h1, .official p {
	text-align: center;
}
.title {
	margin: 0; 
}
h1, h2, p {
	text-align: center;
	margin: 30px 0;
}
/* 6. 의사 선택자 */

/* 7. 자손(=후손) 선택자 */
.official h1 {
	font-size: 22px;
}
.official p {
	font-size: 16px;
	margin: 10px 0 20px; /* (바깥)여백: 상10 좌우0 하20픽셀 */
}
.official h1 {
	margin: 0;
}


/* ================ brand style : css 주석문 =================== */
.main {
	margin: 0 5%;
}
.promotion img {
	width: 100%; /* 가로폭: (뷰포트) 넘지않게 100% */
	object-fit: cover; /* 객체-비율: 알맞게 조정 */
}
.story {
	display: flex; /* 표시 : 플렉스 (플레스 아이템이 가로로 배치된다) */
	justify-content: center;
	gap:0 38px; /* 간격: 상하 좌우 */
}
.story_text p {
	text-align: left; /* 텍스트-정렬: 왼쪽 정렬 */
	margin: 0;
}
.value_data ul { /* 모든 ul을 선택하는 특성 */
	display: flex;
	justify-content: space-between; /* 공간-사이사이: 모든 항목에 일정한 공간 */	
}
.value_data h2 {
	font-size: 22px;		/* 문자-크기: 22픽셀(기본:16픽셀) */
	font-weight: normal;	/* 문자-두께: 보통 */
}
.value_data p {
	font-size: 40px;	
}
.family_items {
	display: flex;
	justify-content: space-between;
}
.family_items img {
	width: 80%;
	object-fit: cover;
}
.partners_list {
	display: flex;
	justify-content: space-around;	
}
ul {
	list-style-type: none;  /* 목록-스타일-기호: 없음 */
}














